<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">Head
</head>
<Style>
.comingsoonFlatCustom {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 0, 0, 0.6) 100%), url(../../themes/fev/img/FEV-6.jpg);
	background-repeat: repeat;
	background-size: cover;
}
</Style>
<body
    class="horizontal-layout horizontal-menu horizontal-menu-padding 1-column comingsoonFlatCustom menu-expanded blank-page blank-page"
    data-open="hover" data-menu="horizontal-menu" data-col="1-column">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="container center-layout ">
        <div class="content-wrapper">
            <div class="content-header row"></div>
            <div class="content-body">
                <section class="flexbox-container" style="height: 100%">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <a th:href="@{/soon}"><img th:src="@{#{theme.root} + 'fev/img/logo.png'}"
                                            alt="branding logo" style="width: 100%"></a>
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span>Easily Usinng</span>
                                    </h6>
                                </div>
                                <div class="card-content">
                                    <div class="text-center">
                                        <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-facebook"> <span
                                            class="fa fa-facebook"></span>
                                        </a> <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-twitter"> <span
                                            class="fa fa-twitter"></span>
                                        </a> <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-linkedin"> <span
                                            class="fa fa-linkedin font-medium-4"></span>
                                        </a> <a href="#" class="btn btn-social-icon mr-1 mb-1 btn-outline-github"> <span
                                            class="fa fa-github font-medium-4"></span>
                                        </a>
                                    </div>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                        <span>OR Using Account Details</span>
                                    </p>
                                    <div class="card-body">
                                        <form class="form-horizontal" action="login" novalidate method="POST">
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control input-lg" id="user-name"
                                                    placeholder="Your Username" tabindex="1" required
                                                    data-validation-required-message="Please enter your username."
                                                    name="username">
                                                <div class="form-control-position">
                                                    <i class="ft-user"></i>
                                                </div>
                                                <div class="help-block font-small-3"></div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="password" class="form-control input-lg" id="password"
                                                    placeholder="Enter Password" tabindex="2" required
                                                    data-validation-required-message="Please enter valid passwords."
                                                    name="password">
                                                <div class="form-control-position">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                                <div class="help-block font-small-3"></div>
                                            </fieldset>
                                            <div class="form-group row">
                                                <div class="col-md-6 col-12 text-center text-md-left">
                                                    <fieldset>
                                                        <input type="checkbox" id="remember-me" class="chk-remember"
                                                            name="remember-me"> <label for="remember-me">
                                                            Remember Me </label>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-6 col-12 text-center text-md-right">
                                                    <a href="reminder" class="card-link">Forgot Password?</a>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-danger btn-block btn-lg">
                                                <i class="ft-unlock"></i>Login
                                            </button>
                                        </form>
                                    </div>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                        <span>New to Robust ?</span>
                                    </p>
                                    <div class="card-body">
                                        <a href="register-with-bg-image.html" class="btn btn-outline-danger btn-block"><i
                                            class="ft-user"></i> Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div th:replace="fragments/script :: script">Script</div>
</body>
</html>