<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="header">
            <!-- fixed-top-->
            <nav
                class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-light navbar-border navbar-brand-center">
                <div class="navbar-wrapper">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav flex-row">
                            <li class="nav-item mobile-menu d-md-none mr-auto"><a
                                    class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                                        class="ft-menu font-large-1"></i></a></li>
                            <li class="nav-item"><a class="navbar-brand" th:href="@{/index}"> <img class="brand-logo"
                                                                                                   alt="robust admin logo"
                                                                                                   th:src="@{#{theme.root} + 'fev/img/logo.png'}">
                                    <h3 class="brand-text"><span th:text="#{app.name}">Ocean Study</span></h3>
                                </a></li>
                            <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                                                              data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
                        </ul>
                    </div>
                    <div class="navbar-container container center-layout">
                        <div class="collapse navbar-collapse" id="navbar-mobile">
                            <ul class="nav navbar-nav mr-auto float-left">
                                <li class="nav-item d-none d-md-block"><a
                                        class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"> </i></a></li>

                                <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i
                                            class="ficon ft-maximize"></i></a></li>
                                <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i
                                            class="ficon ft-search"></i></a>
                                    <div class="search-input">
                                        <input class="input" type="text" placeholder="Search...">
                                    </div></li>
                            </ul>
                            <ul class="nav navbar-nav float-right">
                                <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link"
                                                                                   id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true"
                                                                                   aria-expanded="false">


                                        <div th:if="__${#locale}__== 'vi' or __${#locale}__== ''">
                                            <i class="flag-icon flag-icon-vn"></i><span>Tiếng Việt</span><span
                                                class="selected-language"></span>
                                        </div>
                                        <div th:if="__${#locale}__== 'en'">
                                            <i class="flag-icon flag-icon-gb"></i><span>English</span><span
                                                class="selected-language"></span>
                                        </div>

                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                                        <a class="dropdown-item" href="?lang=en"><i class="flag-icon flag-icon-gb"></i><span
                                                th:text="#{lang.en}"> English</span></a> <a class="dropdown-item" href="?lang=vi"><i
                                                class="flag-icon flag-icon-vn"></i><span th:text="#{lang.vi}"> Tiếng Việt</span></a>
                                    </div></li>

                                <li class="dropdown dropdown-user nav-item"><a
                                        class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"> <span
                                            class="avatar avatar-online"> <img
                                                th:src="@{#{theme.root} + 'robust-admin/app-assets/images/portrait/small/avatar-s-1.png'}"
                                                alt="avatar"><i></i></span> <span class="user-name" th:utext="${#request.userPrincipal.name}" id="username">John Doe</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">

                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" th:href="@{/logout}"><i class="ft-power"></i><span th:text="#{text.logout}">Logout</span></a>
                                    </div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- ////////////////////////////////////////////////////////////////////////////-->
    </body>
